@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
    <br />

    <h1>Welcome</h1><br/>

      <h2>On this site.....</h2><br/>
    <p class="text-primary">
    You can Sign up or log in as a user.<br />
    when signed in:<br />
    You can create a new item <br />
    You can edit , delete or view an item<br />
    You can view your items and search for an item<br />
</p>
    Ahmed Bahey


