@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<address>
    Name: Ahmed Bahey<br />
    Email: ambahie@gmail.com<br />
    <abbr title="Phone">Phone: 01285817576</abbr>  
</address>
<address>
    <strong>Support:</strong> <a href="http://itspark-eg.com/">itspark-eg.com</a><br />
    
</address>
<br/><br /><br /><br />