@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="bgggg">

        <br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br />
        <br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br />
        <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> <br /><br /> 
    </div>






